magboltz-11.4_clean.f
magboltz-11.4_cut.f
BINP/
DataTableExtractor/DataTableExtractor-build/
Grants/
GullBraceUp.svg
NeutronExpElectronicsScheme.png
NeutronExpElectronicsScheme.svg
RecommendationLetter/
StructureFactorIntegral/Log.txt
*/RelWithDebInfo/
*/*/RelWithDebInfo/
*/*/*/RelWithDebInfo/
*/build/
*/Log.txt
*/*/Log.txt
*/*/*/Log.txt
LAr_relaxation_times/.vscode/
